<a href="https://colab.research.google.com/github/AshwaniKrSonu619/Pyhton-Projects-2/blob/main/PCA_on_Wine_dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Objective:-**

**WAP implement PCA on Wine dataset.**

Theory:-
As we know that PCA is used to for Dimensionality reduction for -Reducing Computation cost. -Reduce the storage space ->to avoid OVERFIT problem - But dimension reduction must be done without loss of
Information.

In [2]:

import pandas as pd

In [4]:
df=pd.read_csv("Wine.csv")
df.head()

   Alcohol  Malic_Acid   Ash  ...  OD280  Proline  Customer_Segment
0    14.23        1.71  2.43  ...   3.92     1065                 1
1    13.20        1.78  2.14  ...   3.40     1050                 1
2    13.16        2.36  2.67  ...   3.17     1185                 1
3    14.37        1.95  2.50  ...   3.45     1480                 1
4    13.24        2.59  2.87  ...   2.93      735                 1

[5 rows x 14 columns]

In [5]:
df.shape

(178, 14)

In [6]:
df.describe()

          Alcohol  Malic_Acid  ...      Proline  Customer_Segment
count  178.000000  178.000000  ...   178.000000        178.000000
mean    13.000618    2.336348  ...   746.893258          1.938202
std      0.811827    1.117146  ...   314.907474          0.775035
min     11.030000    0.740000  ...   278.000000          1.000000
25%     12.362500    1.602500  ...   500.500000          1.000000
50%     13.050000    1.865000  ...   673.500000          2.000000
75%     13.677500    3.082500  ...   985.000000          3.000000
max     14.830000    5.800000  ...  1680.000000          3.000000

[8 rows x 14 columns]

In [7]:
df.keys()

Index(['Alcohol', 'Malic_Acid', 'Ash', 'Ash_Alcanity', 'Magnesium',
       'Total_Phenols', 'Flavanoids', 'Nonflavanoid_Phenols',
       'Proanthocyanins', 'Color_Intensity', 'Hue', 'OD280', 'Proline',
       'Customer_Segment'],
      dtype='object')

In [9]:
x=df[['Alcohol','Malic_Acid','Ash','Ash_Alcanity','Magnesium','Total_Phenols','Flavanoids','Nonflavanoid_Phenols','Proanthocyanins','Color_Intensity','Hue','OD280','OD280']]
x.head()

   Alcohol  Malic_Acid   Ash  Ash_Alcanity  ...  Color_Intensity   Hue  OD280  OD280
0    14.23        1.71  2.43          15.6  ...             5.64  1.04   3.92   3.92
1    13.20        1.78  2.14          11.2  ...             4.38  1.05   3.40   3.40
2    13.16        2.36  2.67          18.6  ...             5.68  1.03   3.17   3.17
3    14.37        1.95  2.50          16.8  ...             7.80  0.86   3.45   3.45
4    13.24        2.59  2.87          21.0  ...             4.32  1.04   2.93   2.93

[5 rows x 13 columns]

In [10]:
y=df[['Customer_Segment']]
y

     Customer_Segment
0                   1
1                   1
2                   1
3                   1
4                   1
..                ...
173                 3
174                 3
175                 3
176                 3
177                 3

[178 rows x 1 columns]

# **Scaling Data using Standard Scaler**

In [11]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)
x_scaled

array([[ 1.51861254, -0.5622498 ,  0.23205254, ...,  0.36217728,
         1.84791957,  1.84791957],
       [ 0.24628963, -0.49941338, -0.82799632, ...,  0.40605066,
         1.1134493 ,  1.1134493 ],
       [ 0.19687903,  0.02123125,  1.10933436, ...,  0.31830389,
         0.78858745,  0.78858745],
       ...,
       [ 0.33275817,  1.74474449, -0.38935541, ..., -1.61212515,
        -1.48544548, -1.48544548],
       [ 0.20923168,  0.22769377,  0.01273209, ..., -1.56825176,
        -1.40069891, -1.40069891],
       [ 1.39508604,  1.58316512,  1.36520822, ..., -1.52437837,
        -1.42894777, -1.42894777]])

# **Split Data for Training & Testing**

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2,random_state=0)

# **PCA with 95% information**

In [13]:
from sklearn.decomposition import PCA
pca=PCA(0.95)
x_pca=pca.fit_transform(x)
x_pca.shape

(178, 2)

# **Contribution of these two componnets**

In [16]:
pca.explained_variance_ratio_
print(pca.explained_variance_ratio_)

[0.90741191 0.05147193]

In [20]:

pca=PCA(n_components=2)
x_pca=pca.fit_transform(x)
print(x_pca.shape)
pca.explained_variance_ratio_

(178, 2)

array([0.90741191, 0.05147193])